
.detailed-view-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height: 120vh;
    background-size: cover;
}

.detailed-view-heading {
    color: white;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 24px;
}

.detailed-view-card {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 24px;
}

.detailed-view-head {
    color: black;
    font-family: "monoto";
    font-size: 23px: font-weight:bold;
    padding: 16px;




}

.detailed-view-para {
    color: black;
    font-family: "roboto";
    font-size: 15px;
    padding: 16px;

}
